<div class="news-image">
  <div *ngIf="news.urlToImage; else noImg">
    <img src="{{news.urlToImage}}" class="img-fluid">
  </div>
  <ng-template class="no-img" #noImg>
    <img src="http://lamp.oja.go.th/MediaNewsIMG/default-image.png" class="img-fluid">
  </ng-template>
</div>
<div class="content">
  <div class="container" style="padding-top: 24px; height: 100%;">
    <div class="row">
      <div class="col-lg-12" *ngIf="news">
        <div class="news-title">
          <h3>{{news.title}}</h3>
        </div>
        <div class="news-author">
          <label *ngIf="news.author; else noAuthor">Author: {{news.author}}</label>
          <ng-template #noAuthor>
            <label>Author: -</label>
          </ng-template>
        </div>
        <div class="news-time">
          <p>{{news.publishedAt | fromNow}}</p>
        </div>
        <div class="news-details">
          <p *ngIf="news.description; else noDescription">{{news.description}}</p>
          <ng-template #noDescription>
            <p>No news detail.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
